[bumpversion]
current_version = 3.9.7
commit = False
tag = False

[bumpversion:part:release]
optional_value = beta
values = 
	alpha
	beta
	rc1
	rc2
	rc3

[bumpversion:file:setup.py]

[bumpversion:file:README.md]

[bumpversion:file:web/README.md]

[bumpversion:file:web/app/static/help/welcome.md]

[bumpversion:file:web/app/__init__.py]

[bumpversion:file:kubernetes/runner-deployment.yaml]

[bumpversion:file:kubernetes/web-deployment.yaml]
