.pyc  
.pyo  
*.so  
*.pkl
*.ems
pyvenv.cfg  
.DS_Store 
__pycache__/  
coreMB.egg-info/
venv/
res/  
.vscode/
.pytest_cache/
.vs/
res/data/
.eggs/
dist/
build/
tests/
tests/test_data/
.git/
.pytest_cache/
.ipynb_checkpoints/
.eggs/
